<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<header>
    <h1>Викторина</h1>
    <nav>
        <a href="{{ url_for('index') }}">Главная страница</a>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('register') }}">Регистрация</a>
            <a href="{{ url_for('login') }}">Вход в систему</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Выход из системы</a>
            <a href="{{ url_for('quiz') }}">Викторина</a>
            <a href="{{ url_for('leaderboard') }}">Лидер-борд</a>
        {% endif %}
    </nav>
</header>

{% block body %}{% endblock %}

<footer>
    <p>Филипушко Михаил</p>
</footer>

</body>
</html>
